<div class="row">
    <div class="col-md">
        <h5>contact</h5>
        <ul class="contact_list">
            <li><span class="contact"><img src="{{base}}/img/mail_logo.png" class="min_logos">alexcabrahams [at] gmail [dot] com</span></li>
            
            <li><span class="contact"><a href="https://github.com/AlexAbes" target="_blank"><img class="min_logos" src="{{base}}/img/github64px.png" class="mini_logos"></a><a href="https://github.com/AlexAbes" target="_blank">@AlexAbes</a></span></li>
            
            <li><span class="contact"><a href="https://twitter.com/Alex_Abes" target="_blank"><img class="min_logos" src="{{base}}/img/Twitter_Logo_Blue.png" class="mini_logos"></a><a href="https://twitter.com/Alex_Abes" target="_blank">@Alex_Abes</a></span></li>
            
            <li><span class="contact"><a href="https://www.linkedin.com/in/alexandraabrahams/" target="_blank"><img src="{{base}}/img/linkedin66.png" class="min_logos" id="linkedin_logo"></a><a href="https://www.linkedin.com/in/alexandraabrahams/" target="_blank">linkedin</a></span></li>
        </ul>
        
    </div>
    <hr>
    <div class="col-md">
        <h5>job</h5>
        <!-- <ul class="contact_list">
            <li>data & analytics</li>
            <li>politics & campaigns</li>
            <li>web dev & software</li>
            <li></li>
        </ul> -->
        <p>data and analytics intern at precision strategies</p>
    </div>
    <div class="col-md">
        <h5>skills</h5
        <p>know: </p>
    </div>
    <div class="col-md">
        <h5>tools</h5
        <p>python, sql, d3.js, javascript, html, css</p>
    </div>
</div>