<div class="col-md-4 alex-col">
    <a href="http://alexandraabrahams.com/"><img src="{{base}}/img/logo@2x.png" id="logo"></a>
    <div id = "desc">
        <h4>alex abrahams</h4>
        <!-- <h6>wisconsin democratic party data director</h6> -->
        <h6>doing data for democrats</h6>
        <span><img src="{{base}}/img/mail_logo.png" id="mail_logo">alexcabrahams [at] gmail [dot] com</span>
    </div>
    <div id="logo_span_div">
        <a href="https://github.com/AlexAbes" target="_blank"><img src="{{base}}/img/github64px.png" class="mini_logos"></a>
        <a href="https://twitter.com/Alex_Abes" target="_blank"><img src="{{base}}/img/Twitter_Logo_Blue.png" class="mini_logos"></a>
        <a href="https://www.linkedin.com/in/alexandraabrahams/" target="_blank"><img src="{{base}}/img/linkedin66.png" class="mini_logos" id="linkedin_logo"></a>
    </div>
    <hr>
    <ul class="nav flex-column vertical_nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{base}}/index.html">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{base}}/writing">posts</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              college data projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{base}}/cs171" target="_blank">CS at Harvard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="http://twitterpredicts2016.com" target="_blank">Twitter Predicts 2016</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="http://trumpsrepublicans.com/" target="_blank">Trump's Republicans</a>
            </div>
        </li>
    </ul>
</div>