<h1>timeline</h1>
<div class="container">
    <div class="row">
        <div id="timeline"></div>
        <div id="detail">
            <h3 id="job"></h3>
            <h4 id="job_title"></h4>
            <h5 id="job_date"></h5>
            <p id="job_description"></p>
        </div>
    </div>
</div>
<hr>
<p>Design for above visualization based on Ritchie King's <a href="http://ritchiesking.com/resume/" target="_blank">version</a>. Resume is available to download <a href="Abrahams 2019 Resume.pdf" download>here</a>.</p>
