body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Cormorant Garamond', serif;*/
}

h1, h3 {
    text-align: center;
    /*text-decoration: underline;*/
}

p {
    font-size: 15px;
}

#county_details {
    font-size: 20px;
    line-height: 1.6;
}

.totals {
    /*background-color: red;*/
}

.total {
    max-width: 1000px;
    text-align: center;
    float: none;
    margin:auto;
}

.total_num {
    font-size: 30px;
    font-weight: bold;
}

.home {
    max-width: 750px;
    text-align: center;
    float: none;
    margin:auto;
}

.conclusion {
    max-width: 900px;
    text-align: center;
    float: none;
    margin:auto;
    line-height: 2;
}

.legend {
    text-align: center;
}

.maroon {
    color: #631639;
}

.blue {
    color: steelblue;
}

.pink {
    color: #F65E61;
}

table {
    border: 3px solid black;
    text-align: center;
    line-height: 50px;
}

.th-inner {
    text-align: center;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

#dropdownMenu1 {
    margin-left: 190%;
}

#marginup {
    margin-top: 5%;
    margin-bottom: 5%
}

#currentDataSource {
    text-align: center;
}

/*********************/
/*     MAP STYLES    */
/*********************/

.outline {
  fill: none;
  stroke: #000;
  stroke-width: 2.5px;
}

.feature {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

path {
  fill: #ccc;
  stroke: #000000;
  stroke-width: .5px;
}

.county:hover{
  fill:orange;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/*FOOTER*/

.site-footer {
    text-align: center;
}

/*#footer {*/
    /*position:fixed;*/
    /*left:0px;*/
    /*bottom:100px;*/
    /*height:30px;*/
    /*width:100%;*/
/*}*/

#footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}