<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">
            <div class="row">
                {% include sidebar.html %}
                <div class="col-md-8 alex-col">
                    <div class="post">

                      <header class="post-header">
                        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                        <h1>{{ page.title }}</h1>
                      </header>

                      <article class="post-content">
                      {{ content }}
                      </article>

                      <br>
                       {% if page.previous %}
                                <a class="btn btn-default" id="previous-link" rel="prev" href="{{ page.previous.url }}" role="button">&laquo; Previous Entry</a>
                            {% endif %}
                            {% if page.next %}
                                <a class="btn btn-default" id="next-link" rel="next" href="{{ page.next.url }}" role="button">Next Entry &raquo;</a>
                        {% endif %}
                      <br>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>